Source: openvstorage-health-check
Maintainer: Jonas Libbrecht <jonas.libbrecht@openvstorage.com>
Standards-Version: 3.9.4
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7.2), debhelper (>= 9)

Package: openvstorage-health-check
Architecture: amd64
Pre-Depends: python (>= 2.7.2)
Depends: openvstorage (>= 2.11), python-click (>=6.2), python-psutil (>= 4.3.0), python-timeout-decorator (>= 0.3.2)
Description: Open vStorage HealthCheck
 monitoring, detection and healing tool for the Open vStorage product
