#!/usr/bin/make -f

openvstorage-health-check:
	dh_testdir
	dh_testroot
	dh_installdirs  -p$@
	dh_installchangelogs  -p$@  CHANGELOG.txt
	dh_install -p$@
	dh_installman  -p$@
	dh_link  -p$@
	dh_strip  -p$@
	dh_compress  -p$@
	dh_fixperms  -p$@
	dh_installdeb -p$@
	dh_shlibdeps  -p$@
	dh_gencontrol  -p$@
	dh_md5sums  -p$@
	dh_builddeb  -p$@

clean:
	if [ -f debian/openvstorage-health-check ]; then rm debian/openvstorage-health-check; fi

binary: openvstorage-health-check

.PHONY: clean build
